In [2]:
import pandas as pd

In [3]:
df0 = pd.read_csv('predict_0.csv', index_col = 0)
df1 = pd.read_csv('predict_1.csv', index_col = 0)
df2 = pd.read_csv('predict_2.csv', index_col = 0)

In [17]:
def pad4(i):
    return "0"*(4-len(str(i)))+str(i)
df = pd.DataFrame()
df["Id"] = [pad4(i) for i in range(1,3348)]

df

        Id
0     0001
1     0002
2     0003
3     0004
4     0005
...    ...
3342  3343
3343  3344
3344  3345
3345  3346
3346  3347

[3347 rows x 1 columns]

In [20]:
import numpy as np

def read_predict(name: str):
    name += '.csv'
    data = pd.read_csv(name, header=None).iloc[1:, 1:]
    data = np.array(data, dtype='int32').squeeze()
    return data

In [26]:
def most_commmon(lst):
    return max(set(lst), key = lst.count)

In [31]:
result = []

for i in range(0, 4):
    name = 'predict_' + str(i)
    result.append(list(read_predict(name)))

result = np.array(result)

res = []

for j in range(0, 3347):
    lst = []
    for i in range(0, 4):
        lst.append(result[i][j])
    res.append(most_commmon(lst))

with open('ensemble_0.csv', 'w') as fp:
    fp.write('Id,Category\n')
    for i, p in enumerate(res):
        fp.write('{},{}\n'.format(pad4(i + 1), p))